{% extends "tasks_base.html" %}

{% block tasks_content %}
	<div>
		<h4>Активные задачи:</h4>
		{% if user.worker.position == 'director' %}
			<div>На проверке:</div>
			{% for task in tasks %}
				{% if task.status == 'checking' %}
					<div><a href="{% url 'task_update' task.id %}">{{ task.title }}</a></div>
				{% endif %}
			{% endfor %}
			<div style="margin-top: 10px;">Выполняется:</div>
			{% for task in tasks %}
				{% if task.status == 'in_progress' %}
					<div><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></div>
				{% endif %}
			{% endfor %}
		{% else %}
				{% for task in tasks %}
					<div><a href="{{ task.get_task_confirm_url }}">{{ task.title }}</a></div>
				{% endfor %}
		{% endif %}
	</div>

{% endblock tasks_content %}